@font-face {
	font-family: "customicons";
	src: url("customicons.eot?96dfffd4d4fde9bca16424958039d8a2?#iefix") format("embedded-opentype"),
url("customicons.woff2?96dfffd4d4fde9bca16424958039d8a2") format("woff2"),
url("customicons.woff?96dfffd4d4fde9bca16424958039d8a2") format("woff"),
url("customicons.ttf?96dfffd4d4fde9bca16424958039d8a2") format("truetype"),
url("customicons.svg?96dfffd4d4fde9bca16424958039d8a2#customicons") format("svg");
}

.customicons {
	line-height: 1;
}

.customicons:before {
	font-family: customicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.customicons-calendar:before {
	content: "\0xf101";
}
.customicons-check:before {
	content: "\0xf102";
}
.customicons-chevron-up:before {
	content: "\0xf103";
}
.customicons-copy:before {
	content: "\0xf104";
}
.customicons-floppy-disk:before {
	content: "\0xf105";
}
.customicons-house:before {
	content: "\0xf106";
}
.customicons-link:before {
	content: "\0xf107";
}
.customicons-magnifying-glass:before {
	content: "\0xf108";
}
.customicons-paperclip:before {
	content: "\0xf109";
}
.customicons-pen:before {
	content: "\0xf10a";
}
.customicons-plus:before {
	content: "\0xf10b";
}
.customicons-tag:before {
	content: "\0xf10c";
}
.customicons-task:before {
	content: "\0xf10d";
}
.customicons-trash-can:before {
	content: "\0xf10e";
}
.customicons-xmark:before {
	content: "\0xf10f";
}
