@font-face {
	font-family: "customicons";
	src: url("customicons.eot?91f722978fd39e126c1024a5f3c118e0?#iefix") format("embedded-opentype"),
url("customicons.woff2?91f722978fd39e126c1024a5f3c118e0") format("woff2"),
url("customicons.woff?91f722978fd39e126c1024a5f3c118e0") format("woff"),
url("customicons.ttf?91f722978fd39e126c1024a5f3c118e0") format("truetype"),
url("customicons.svg?91f722978fd39e126c1024a5f3c118e0#customicons") format("svg");
}

.customicons {
	line-height: 1;
}

.customicons:before {
	font-family: customicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.customicons-calendar:before {
	content: "\0xf101";
}
.customicons-check:before {
	content: "\0xf102";
}
.customicons-floppy-disk:before {
	content: "\0xf103";
}
.customicons-link:before {
	content: "\0xf104";
}
.customicons-paperclip:before {
	content: "\0xf105";
}
.customicons-pen:before {
	content: "\0xf106";
}
.customicons-plus:before {
	content: "\0xf107";
}
.customicons-tags:before {
	content: "\0xf108";
}
.customicons-task:before {
	content: "\0xf109";
}
.customicons-trash-can:before {
	content: "\0xf10a";
}
.customicons-xmark:before {
	content: "\0xf10b";
}
