@font-face {
	font-family: "customicons";
	src: url("customicons.eot?6a8652c418bfbe36080c48f6bbf9769f?#iefix") format("embedded-opentype"),
url("customicons.woff2?6a8652c418bfbe36080c48f6bbf9769f") format("woff2"),
url("customicons.woff?6a8652c418bfbe36080c48f6bbf9769f") format("woff"),
url("customicons.ttf?6a8652c418bfbe36080c48f6bbf9769f") format("truetype"),
url("customicons.svg?6a8652c418bfbe36080c48f6bbf9769f#customicons") format("svg");
}

.customicons {
	line-height: 1;
}

.customicons:before {
	font-family: customicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.customicons-calendar:before {
	content: "\0xf101";
}
.customicons-check:before {
	content: "\0xf102";
}
.customicons-floppy-disk:before {
	content: "\0xf103";
}
.customicons-link:before {
	content: "\0xf104";
}
.customicons-paperclip:before {
	content: "\0xf105";
}
.customicons-pen:before {
	content: "\0xf106";
}
.customicons-plus:before {
	content: "\0xf107";
}
.customicons-tags:before {
	content: "\0xf108";
}
.customicons-trash-can:before {
	content: "\0xf109";
}
.customicons-xmark:before {
	content: "\0xf10a";
}
