/* @font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  src: local("Poppins"), url(./Poppins/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url(./Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: local("Poppins"), url(./Poppins/Poppins-SemiBoldItalic.ttf) format("truetype");
} */
@import url(./Poppins/style.css);;