@font-face {
	font-family: "customicons";
	src: url("customicons.eot?bce1b0e9159a7ef83a7bcdca10064c1a?#iefix") format("embedded-opentype"),
url("customicons.woff2?bce1b0e9159a7ef83a7bcdca10064c1a") format("woff2"),
url("customicons.woff?bce1b0e9159a7ef83a7bcdca10064c1a") format("woff"),
url("customicons.ttf?bce1b0e9159a7ef83a7bcdca10064c1a") format("truetype"),
url("customicons.svg?bce1b0e9159a7ef83a7bcdca10064c1a#customicons") format("svg");
}

.customicons {
	line-height: 1;
}

.customicons:before {
	font-family: customicons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.customicons-calendar:before {
	content: "\0xf101";
}
.customicons-check:before {
	content: "\0xf102";
}
.customicons-floppy-disk:before {
	content: "\0xf103";
}
.customicons-link:before {
	content: "\0xf104";
}
.customicons-pen:before {
	content: "\0xf105";
}
.customicons-plus:before {
	content: "\0xf106";
}
.customicons-tags:before {
	content: "\0xf107";
}
.customicons-trash-can:before {
	content: "\0xf108";
}
.customicons-xmark:before {
	content: "\0xf109";
}
